doctype html

html(lang=en)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
    title Clayton Griswold
    link(rel="icon" type="image/jpeg" href="./images/IMG_1981.jpeg")
    
    link(href="https://fonts.googleapis.com/css?family=Architects+Daughter|Faster+One|Kalam|Ravi+Prakash|Press+Start+2P" rel="stylesheet" type="text/css")
    link(href="css/index.css" rel="stylesheet" type="text/css")
    
    script(src="http://code.jquery.com/jquery-2.2.3.min.js")
    //- script(src="http://underscorejs.org/underscore-min.js")
    script(src="js/app.js")
    
    //- End Head section
  
  body(ng-app="SiteApp")
  
    header
      div#top
        h1 Clayton Griswold
        h2 Front End Engineer
      nav#navbar(role="navigation")
        a(href="#/about"): button.navOps About
        a(href="#/resume"): button.navOps Resume
        a(href="#/projects"): button.navOps Projects
        a(href="https://github.com/ccgriswold" target="_blank"): button.navOps GitHub
        a(href="https://www.linkedin.com/in/claytongriswold" target="_blank"): button.navOps LinkedIn
          
    main#content(ng-view)
    
footer
  p UI built with the sharp angles of AngularJS
    
    
